
__pycache__/


# Virtual environments
.venv/
.env
venv/
ENV/
env.bak/
venv.bak/

# Ignore dataset files
data/
*.csv
*.tsv
*.json
*.jsonl
*.xlsx

lightning_logs/

# Ignore model weights & large binaries
models/
*.h5
*.pth
*.pt
*.joblib
*.pickle
*.pkl

# Ignore log files & temporary files
logs/
*.log
*.tmp
.DS_Store

# Ignore PyCharm & JetBrains IDE settings
.idea/

# PyPI configuration file
.pypirc
